{% extends "layout.jinja2" %}
    {% block body %}
        <main>
            <h3>Create a Post</h3>
            <article class="create">
                <form method="POST" action="" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}"/>
                    <p>
                        <label for="title">Title</label>
                        <br>
                        <br>
                        <input type=text, name="title" required/>
                    </p>
                    <br>
                    <br>
                    <p>
                        <label for="value">Post</label>
                        <br>
                        <br>
                        <textarea name="post" rows="20" cols="80" class="blogpost"></textarea>
                        <br>
                        <br>
                        <input class="btn" type="submit" value="Submit">
                    </p>
                </form>
            </article>
        </main>
    {% endblock %}