{% extends "layout.jinja2" %}
    {% block body %}
        <main>
            <article class="post">
                <h3>{{ entry.title }}</h3>
                    <p>{{ entry.body }}</p>
            </article>
            <section>
            {% if request.authenticated_userid %}
                <a class="edit" href={{ request.route_url('edit', id=entry.id) }}>Edit Post</a>
                <a href={{ request.route_url('delete', id=entry.id) }}" class="delete" id="data">Delete Post</a>
            {% endif %}
            </section>
        </main>
    {% endblock %}