{% extends "layout.jinja2" %}
    {% block body %}
        <main>
            <h3>Edit your Post</h3>
            <article class="create content">
                <form method="POST" action="{{ request.route_url('list') }}" enctype="multipart/form-data">
                    <p>
                        <label for="title">Title</label>
                        <input type=text, name="title" required/>
                    </p>
                    <p>
                        <label for="value">Post</label>
                        <textarea name="post" class="blogpost" cols="80" rows="20"></textarea>
                        <br>
                        <br>
                        <input class="btn" type="submit" value="Submit">
                    </p>
                </form>
            </article>
        </main>
    {% endblock %}