{% extends "layout.jinja2" %}
    {% block body %}
        <main>
            <h3>Edit your Post</h3>
            <article class="create content">
                <form method="POST" action="" enctype="multipart/form-data">
                    <p>
                        <label for="title">Title</label>
                        <br>
                        <br>
                        <input type=text, name="title" value="{{ entry.title }}" required/>
                    </p>
                    <br>
                    <br>
                    <p>
                        <label for="value">Post</label>
                        <br>
                        <br>
                        <textarea rows="20" cols="80" name="body" class="blogpost">{{ entry.body }}
                        </textarea>
                        <br>
                        <br>
                        <input class="btn" type="submit" value="Submit">
                    </p>
                </form>
            </article>
        </main>
    {% endblock %}