<!--DOCTYPE html-->

<html>
    <head>
        <title>Rachael Wisecarver</title>
        <link rel="stylesheet" href={{ request.static_path('learning_journal:static/css/base.css')}}>
    </head>
    <body>
        <header>
            <h1><a href={{ request.route_url('list') }}>Rachael Wisecarver</a></h1>
            <nav>
                <ul>
                    <li><a href={{ request.route_url('about') }}>About</a></li>
                    <li><a href={{ request.route_url('create') }}>New Post</a></li>
                    <li><a href={{ request.route_url('portfolio') }}>Portfolio</a></li>
                    {% if not request.authenticated_userid %}
                        <li><a href={{ request.route_url('login') }}>Login</a></li>
                    {% else %}
                        <li><a href={{ request.route_url('logout') }}>Log Out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <p class="footer">&#169 2016 Rachael Wisecarver</p>
        </footer>
    </body>
</html>