{% extends "layout.jinja2" %}

{% block body %}
    <img id="header" src={{ request.static_path('learning_journal:static/images/Bookshelf.jpg') }}>
    <main>
        <article class="post">
            <ul>
                {% if entries %}
                    {% for entry in entries %}
                        <li>
                            <h3><a href={{ request.route_url('detail', id=entry.id) }}>{{ entry.title }}</a></h3>
                            {% if entry.creation_date %}
                                <h4>{{ entry.creation_date.strftime("%b %d, %Y") }}</h4>
                            {% endif %}
                            <p>{{ entry.body| truncate(500) }}</p>
                            <br>
                            <br>
                            <br>
                            <a class="twitter-share-button"
                            href="https://twitter.com/intent/tweet"
                            data-size="large"
                            data-text="{{ entry.title }}: {{ entry.body | truncate(20) }}""
                            data-hashtags="RachaelBlog"
                            data_url={{ request.route_url('detail', id=entry.id) }}>
                            Tweet
                            </a>
                            <br>
                            <br>
                            <br>
                        </li>
                    {% endfor %}
                {% endif %}

            </ul>    
        </article>
    </main>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ request.static_path('learning_journal:static/app.js') }}">
</script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}