{% extends "layout.jinja2" %}

{% block body %}
    <img id="header" src={{ request.static_path('learning_journal:static/images/Bookshelf.jpg') }}>
    <main>
        <article class="post">
            <ul>
                {% if entries %}
                    {% for entry in entries %}
                        <li>
                            <h3><a href={{ request.route_url('detail', id=entry.id) }}>{{ entry.title }}</a></h3>
                            {% if entry.creation_date %}
                                <h4>{{ entry.creation_date.strftime("%b %d, %Y") }}</h4>
                            {% endif %}
                            <p>{{ entry.body| truncate(500) }}</p>
                        </li>
                    {% endfor %}
                {% endif %}

            </ul>    
        </article>
    </main>
{% endblock %}
