{% extends "layout.jinja2" %}

{% block body %}
    <main>
        <article id="about">
            <h3>Eventually this will be where my portfolio lives.</h3>   
        </article>
    </main>
{% endblock %}